.grid {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 125px auto 175px 250px 125px;
    grid-template-areas: "header header"
        "sidebar content"
        "spacerone spacerone"
        "spacertwo spacertwo"
        "footer footer";
}

.head {
    background: #d3d3d3;
    color: black;
    font-weight: bold;
    font-size: 2em;
    padding: 1.5em;
    grid-area: header;
}

.aside {
    background: #efefef;
    padding: 1.25em;
    color: black;
    grid-area: sidebar;
}

.aside ul li {
    list-style-type: none;
}

.aside li {
    padding-bottom: 1em;
}

.aside li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.content {
    background: #fafafa;
    padding: 1.25em;
    grid-area: content;
}

main p {
    color: black;
    line-height: 1.5;
    padding: 0 2em 3em 2em;
}

.spacerone {
    background: #d3d3d3;
    grid-area: spacerone;
}

.spacertwo {
    background: #fafafa;
    grid-area: spacertwo;
}

.card-wrapper {
    display: flex;
    z-index: 1000;
    margin-top: -30em;
}

.card {
    border: 0.188em solid #939393;
    padding: 0.625em;
    font-family: Arial;
    flex: 1;
    margin-bottom: 2em;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}

.card:first-child {
    margin-left: 3.125em;
}

.card:last-child {
    margin-right: 3.125em;
}

.card__image img {
    width: 100%;
}

.card__read-more {
    align-self: flex-end;
    margin-top: auto;
    width: 100%;
}

.card__read-more button {
    background: black;
    width: 100%;
    border: none;
    color: white;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.625em;
    font-size: 1em;
}

.footer {
    background: #333333;
    color: white;
    font-weight: bold;
    font-size: 2em;
    padding: 1.5em;
    grid-area: footer;
}
